root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[**.{json,md,mdown}]
indent_style = space
indent_size = 2
insert_final_newline = true

[**.js]
indent_style = space
indent_size = 2
insert_final_newline = true

[**.jsx]
indent_style = space
indent_size = 2
insert_final_newline = true